<!-- Form -->
<mat-card fxLayoutAlign="center" fxFlexFill class="main-div">
    <div fxFlex="50">
        <mat-toolbar color="primary">Add Employee Term Form</mat-toolbar>
        <form [formGroup]="form" fxLayloutAlign="stretch" fxLayout="column">

            <input type="hidden" formControlName="id">

            <mat-form-field>
                <mat-label>employee Id</mat-label>
                <input matInput formControlName="employeeId" placeholder="employee Id">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Date Of Joining</mat-label>
                <input matInput formControlName="dateOfJoining" placeholder="ex: YYYY/MM/DD">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Date Of Leaving</mat-label>
                <input matInput formControlName="dateOfLeaving" placeholder="ex: YYYY/MM/DD">
            </mat-form-field>

            <input type="hidden" formControlName="createdAt">
            <input type="hidden" formControlName="updatedAt">

            <div *ngIf="employeeDesignations">
                <div formArrayName="employeeDesignations"
                    *ngFor="let employeeDesignationFormGroup of employeeDesignations.controls; let i = index;">
                    <mat-toolbar color="primary" class="sub-form">
                        Employee Designation: {{i+1}}
                        <button mat-raised-button color="warn" (click)="removeEmployeeDesignation(i)"> >< </button>
                    </mat-toolbar>
                    <form [formGroupName]="i" class="form-style">
                        <input type="hidden" formControlName="id">
                        <input type="hidden" formControlName="createdAt">
                        <input type="hidden" formControlName="updatedAt">

                        <mat-form-field appearance="fill">
                            <mat-label>Department</mat-label>
                            <mat-select matSelect formControlName="departmentId">
                                <mat-option *ngFor="let department of departments" [value]="department.id">
                                    {{department.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="fill">
                            <mat-label> Select Designation</mat-label>
                            <mat-select formControlName="designationId">
                                <mat-option *ngFor="let designation of designations" [value]="designation.id">
                                    {{designation.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="fill">
                            <mat-label>Date Effective</mat-label>
                            <input matInput formControlName="dateEffective" placeholder="format: YYYY-MM-DD">
                        </mat-form-field>

                        <mat-form-field appearance="fill">
                            <mat-label>Date End</mat-label>
                            <input matInput formControlName="dateEnd" placeholder="format: YYYY-MM-DD">
                        </mat-form-field>
                    </form>
                </div>
            </div>
            <button mat-raised-button color="warn" (click)="addEmployeeDesignation()"> + </button>
            <button mat-raised-button color="primary" (click)="onSubmit();">Save Employee Term</button>

        </form>
    </div>
</mat-card>